<script data-th-src="@{/lib/jquery.js}"></script>
<script data-th-src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script data-th-src="@{/lib/bootstrap-table/bootstrap-table.min.js}"></script>
<script data-th-src="@{/lib/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script data-th-src="@{/lib/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script data-th-src="@{/lib/multiple-select/multiple-select.js}"></script>
<script data-th-src="@{/lib/sweetalert2/sweetalert2.js}"></script>
<script data-th-src="@{/lib/vue.js}"></script>
<script data-th-src="@{/lib/require.js}"></script>

<script data-th-src="@{/js/common/common.js}"></script>